# Required - Get from https://console.groq.com/
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LANGSMITH_API_KEY=lsv2_pt_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Model name
DEFAULT_MODEL_NAME=openai/gpt-oss-120b                   # agent model
MODEL_NAME=qwen/qwen3-32b                                # STM summarizer
GUARDRAIL_MODEL_NAME=meta-llama/llama-prompt-guard-2-86m
GUARDRAIL_BLOCK_THRESHOLD=0.7
GUARDRAIL_BORDERLINE_THRESHOLD=0.4
GUARDRAIL_TIMEOUT_SECONDS=2.5

# Optional - For LLM observability (get from https://smith.langchain.com/)   
LANGSMITH_API_KEY=lsv2_pt_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=DineMate
LANGSMITH_TRACING=True