streamlit
python-dotenv
pandas
numpy
langchain_groq
langgraph
langchain_core
langchain
bcrypt
json5
streamlit-autorefresh
typing-extensions
mysql-connector-python
logging
plotly
nbformat
torch
tts
gTTS
pyttsx3
openai-whisper
PyAudio
sounddevice